@defer (when series.length>0){

  <div class="container d-flex justify-content-center align-items-center">
    <form class="d-flex flex-row align-items-center" id="searchForm" (ngSubmit)="onSearch($event)">
      <input
        class="form-control"
        id="searchInput"
        type="search"
        placeholder="Buscar serie por título"
        aria-label="Search"
        name="searchTerm"
        [(ngModel)]="searchTerm"
        (input)="onSearch($event)">
    </form>
  </div>

  <div class="container justify-content-center" >
    @for (serie of series; track serie._id){
      <div class="card" style="width: auto; margin: 10px; height: auto;" >
        <img src="{{serie.imagenes[0]}}" class="card-img-top" style="height: auto; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title">{{serie.titulo}}</h5>
          <p class="card-text">{{serie.sinopsis}}</p>

          @for (categoria of serie.categorias;track $index){
            <mat-chip style="padding-bottom: 5px">{{categoria}}</mat-chip>
          }

          <div class="d-flex">
          <div>
            <button (click)="editarSerie(serie)" class="btn btn-primary me-2">Editar</button>
          </div>
          <div class="ms-auto">
            <button (click)="eliminarSerie(serie)" class="btn btn-danger">Eliminar</button>
          </div>
        </div>
        </div>
      </div>
    }
  </div>

  <button
    (click)="anadirSerie()"
    mat-fab
    color="primary"
    style="position: fixed; bottom: 16px; right: 16px; border-radius: 50%; background-color: aqua;"
  >
    <mat-icon>+</mat-icon>
  </button>
} @placeholder (){
  <div class="spinner-grow text-light d-flex justify-content-center" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
}
