<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header bg-primary text-white">
      <h5 class="modal-title" id="miModalLabel">
        {{ editar ? 'Editar Serie' : 'Nueva Serie' }}
      </h5>
      <button type="button" class="btn-close btn-close-white" (click)="activeModal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formSeries">
        <div class="row">
          <div class="col-md-8">
            <div class="form-floating mb-3">
              <input formControlName="titulo" type="text" class="form-control" id="titulo" placeholder="Titulo">
              <label for="titulo">Título</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input formControlName="emision" type="text" class="form-control" id="emision" placeholder="Fecha emision">
              <label for="emision">Fecha emisión</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-floating mb-3">
              <input formControlName="capitulos" type="number" class="form-control" id="capitulos" placeholder="Episodios">
              <label for="capitulos">Episodios</label>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-floating mb-3">
              <input formControlName="imagenes" type="text" class="form-control" id="imagenes" placeholder="URL de imagen">
              <label for="imagenes">URL de imagen</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <img [src]="imagen?.value" class="img-fluid rounded" alt="Serie Image">
          </div>
          <div class="col-md-8">
            <div class="form-floating">
              <textarea formControlName="sinopsis" rows="4" class="form-control" id="sinopsis" placeholder="Sinopsis"></textarea>
              <label for="sinopsis">Sinopsis</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">


            <div class="mt-2">
              @for (categoria of categorias?.value; track $index) {
                <span class="badge bg-primary me-2 mb-2">{{ categoria }}</span>
              }
            </div>
          </div>
          <div class="col-md-4">
            <form [formGroup]="anadirCategoria" class="d-flex">
              <div class="form-floating flex-grow-1 me-2" >
                <input style="width: auto" type="text"  class="form-control" id="nuevaCategoria" formControlName="nuevaCategoria" placeholder="Nueva categoria">
              </div>
              <button
                type="button"
                class="btn btn-success"
                (click)="anadirNuevaCategoria()"
                [disabled]="!anadirCategoria.valid">
                <fa-icon [icon]="faPlusCircle"></fa-icon>
              </button>
            </form>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cerrar</button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSubmit()"
        [disabled]="formSeries.invalid">
        Guardar
      </button>
    </div>
  </div>
</div>
