<nav class="navbar bg-body-tertiary">
  <div class="container d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-block mb-3" style="color:orangered ">Beldaroll</a>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <form class="d-flex flex-row align-items-center">
      <input class="form-control" type="search" placeholder="Buscar serie" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

