<nav class="navbar bg-body-tertiary">
  <div class="container d-flex justify-content-center align-items-center">
    <a class="navbar-brand d-block mb-3" style="color:orangered">Beldaroll</a>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <form class="d-flex flex-row align-items-center" id="searchForm">
      <input class="form-control" id="searchInput" type="search" placeholder="Buscar serie por título" aria-label="Search" name="searchTerm">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>



